<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257140745990-b00tir0rv6cd3gmb934cqql5e6i6eagv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257140745990-b00tir0rv6cd3gmb934cqql5e6i6eagv</string>
	<key>API_KEY</key>
	<string>AIzaSyDTjMcpsLByuiKnOcTzE22iQZzvvHYwTjc</string>
	<key>GCM_SENDER_ID</key>
	<string>257140745990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webskitters.Choona</string>
	<key>PROJECT_ID</key>
	<string>choona-8db54</string>
	<key>STORAGE_BUCKET</key>
	<string>choona-8db54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257140745990:ios:7e09bb71b928c0d7a32087</string>
	<key>DATABASE_URL</key>
	<string>https://choona-8db54.firebaseio.com</string>
</dict>
</plist>