<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Choona</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.choona</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
  <key>NSAppleMusicUsageDescription</key>
  <string>Demonstrating using StoreKit and MediaPlayer APIs.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app would like to access your device camera to let you click pictures for profile pictures</string>
	<key>NSContactsUsageDescription</key>
	<string>This app would like to aceess your contacts to help you find and connect to your friends</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app would like to access your camera roll to let you set profile pictures</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app would like to access your camera roll to let you set profile pictures</string>
	<key>UIAppFonts</key>
	<array>
		<string>ProximaNova-Regular.otf</string>
		<string>ProximaNova-Extrabld.otf</string>
		<string>ProximaNova-Black.otf</string>
		<string>ProximaNova-Bold.otf</string>
		<string>ProximaNovaA-Bold.otf</string>
		<string>ProximaNovaA-Light.otf</string>
		<string>ProximaNovaA-Thin.otf</string>
		<string>ProximaNovaT-Thin.otf</string>
		<string>ProximaNova-Medium.ttf</string>
		<string>ProximaNova-Semibold.ttf</string>
		<string>ProximaNovaAW07-Medium.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
